@charset "UTF-8";
body {
  background-color: #eee;
}

.sitewrap {
  background-color: #fff;
  max-width: 1600px;
  min-width: 320px;
  margin: 0 auto;
}

.header {
  background-image: url(../img/header/BGI.png);
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  height: 153px;
  border-bottom: 5px solid #555;
  overflow: hidden;
}

@media only screen and (max-width: 1040px) {
  .header {
    height: 108px;
  }
}

@media only screen and (max-width: 940px) {
  .header {
    height: 120px;
  }
}

@media only screen and (max-width: 580px) {
  .header {
    height: 194px;
  }
}

.header__inner {
  margin: 0 auto;
  max-width: 1300px;
  padding-left: 20px;
  padding-right: 30px;
}

@media only screen and (max-width: 1230px) {
  .header__inner {
    width: 100%;
    max-width: unset;
    padding-left: 7px;
    padding-right: 7px;
  }
}

@media only screen and (max-width: 580px) {
  .header__inner {
    text-align: center;
  }
}

.header__logo {
  display: inline-block;
  vertical-align: top;
}

.header__logo-img {
  display: inline-block;
  vertical-align: top;
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
  margin-left: -5px;
  margin-right: 31px;
}

@media only screen and (max-width: 1230px) {
  .header__logo-img {
    width: 270px;
    margin-top: 47px;
  }
}

@media only screen and (max-width: 1040px) {
  .header__logo-img {
    width: 220px;
    margin-left: 5px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 940px) {
  .header__logo-img {
    width: 230px;
    margin-left: 64px;
  }
}

@media only screen and (max-width: 580px) {
  .header__logo-img {
    margin-left: 0px;
  }
}

.header-menu {
  display: inline-block;
  vertical-align: top;
  margin-top: 80px;
}

@media only screen and (max-width: 1230px) {
  .header-menu {
    margin-top: 73px;
    margin-left: 50px;
  }
}

@media only screen and (max-width: 1130px) {
  .header-menu {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 1040px) {
  .header-menu {
    margin-top: 47px;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 940px) {
  .header-menu {
    display: none;
  }
}

.header-menu__item {
  color: #3f3f3f;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  vertical-align: top;
  margin-left: 13px;
  margin-right: 13px;
  text-decoration: none;
  padding-bottom: 1px;
}

.header-menu__item_active, .header-menu__item:hover {
  border-bottom: 1px solid #3f3f3f;
}

@media only screen and (max-width: 1230px) {
  .header-menu__item {
    font-size: 17px;
  }
}

.header-contacts {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-top: 47px;
  float: right;
}

@media only screen and (max-width: 1230px) {
  .header-contacts {
    margin-top: 55px;
    padding-right: 25px;
  }
}

@media only screen and (max-width: 1040px) {
  .header-contacts {
    margin-top: 25px;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 940px) {
  .header-contacts {
    margin-top: 24px;
  }
}

@media only screen and (max-width: 580px) {
  .header-contacts {
    margin-left: 0px;
    float: none;
    margin: 0 auto;
    margin-top: 24px;
    width: 306px;
    text-align: left;
    padding-left: 56px;
    padding-right: 0;
  }
}

.header-contacts__img {
  position: absolute;
  top: -7px;
  left: -55px;
}

@media only screen and (max-width: 1230px) {
  .header-contacts__img {
    width: 33px;
  }
}

@media only screen and (max-width: 1040px) {
  .header-contacts__img {
    left: -38px;
    top: -5px;
    width: 30px;
  }
}

@media only screen and (max-width: 940px) {
  .header-contacts__img {
    display: none;
  }
}

.header-contacts__text1 {
  color: #3f3f3f;
  font-family: Copperplate;
  font-size: 22px;
  font-weight: 400;
}

@media only screen and (max-width: 1230px) {
  .header-contacts__text1 {
    font-size: 19px;
  }
}

@media only screen and (max-width: 1040px) {
  .header-contacts__text1 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 940px) {
  .header-contacts__text1 {
    font-size: 17px;
  }
}

.header-contacts__text2 {
  color: #3f3f3f;
  font-family: Copperplate;
  font-size: 16px;
  font-weight: 400;
  margin-top: 4px;
}

@media only screen and (max-width: 1230px) {
  .header-contacts__text2 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1040px) {
  .header-contacts__text2 {
    font-size: 12px;
  }
}

@media only screen and (max-width: 940px) {
  .header-contacts__text2 {
    font-size: 13px;
  }
}

.mobile-menu-btn {
  display: none;
  position: fixed;
  width: 45px;
  height: 45px;
  top: 10px;
  left: 6px;
  background-image: url(/img/mobile-menu2.png);
  background-repeat: no-repeat;
  background-position: -2px -2px;
  z-index: 1004;
  border: 2px solid #3e3e3e;
  border-radius: 12px;
}

@media only screen and (max-width: 940px) {
  .mobile-menu-btn {
    display: block;
  }
}

.mobile-menu-btn_open {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: -240px;
  width: 240px;
  height: 100%;
  background-color: rgba(27, 27, 27, 0.9);
  z-index: 1004;
  border-left: 3px solid #608190;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mobile-menu_visible {
  left: 0;
}

.mobile-menu__list {
  padding-top: 40px;
}

.mobile-menu__list-item {
  margin: 21px 0;
}

.mobile-menu__list-item-link {
  font-family: Roboto;
  font-size: 17px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
}

.mobile-menu__sublist {
  margin: 20px 0;
}

.mobile-menu__sublist-item {
  margin: 18px 0;
}

.mobile-menu__sublist-item-link {
  font-family: Roboto;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
}

.slider {
  position: relative;
}

.slider .slick-list {
  overflow: hidden;
}

.slider__dots {
  position: absolute;
  bottom: 10px;
  right: 50%;
  margin-right: -26px;
  z-index: 1000;
}

.slider__dots li {
  display: inline-block;
  vertical-align: top;
  margin: 0 6px;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: #919191;
}

.slider__dots .slick-active {
  background-color: #ffffff;
}

.slider__dots button {
  display: none;
}

.slide {
  display: inline-block;
  vertical-align: top;
  background-position: top center;
  background-repeat: no-repeat;
  height: 432px;
  position: relative;
}

@media only screen and (max-width: 990px) {
  .slide {
    height: 310px;
  }
}

@media only screen and (max-width: 420px) {
  .slide {
    height: 240px;
  }
}

.slide_1 {
  background-image: url(../img/slider/slide1.jpg);
}

@media only screen and (max-width: 1140px) {
  .slide_1 {
    background-position: -328px 0;
  }
}

@media only screen and (max-width: 990px) {
  .slide_1 {
    background-position: -603px 0px;
  }
}

@media only screen and (max-width: 736px) {
  .slide_1 {
    background-position: top center;
    background-image: url(../img/slider/slide1-750.jpg);
  }
}

@media only screen and (max-width: 420px) {
  .slide_1 {
    background-image: url(../img/slider/slide1-500-v2.jpg);
  }
}

.slide_2 {
  background-image: url(../img/slider/slide2.jpg);
}

@media only screen and (max-width: 1140px) {
  .slide_2 {
    background-position: -382px 0;
  }
}

@media only screen and (max-width: 990px) {
  .slide_2 {
    background-position: top center;
    background-image: url(../img/slider/slide2-900.jpg);
  }
}

@media only screen and (max-width: 736px) {
  .slide_2 {
    background-image: url(../img/slider/slide2-750-v3.jpg);
  }
}

@media only screen and (max-width: 420px) {
  .slide_2 {
    background-image: url(../img/slider/slide2-500-v2.jpg);
  }
}

.slide__text {
  color: #fefefe;
  font-family: Copperplate;
  font-size: 51px;
  font-weight: 400;
  position: absolute;
  text-shadow: 1px 1px 8px black;
}

.slide__text_1 {
  left: 50%;
  margin-left: -556px;
  top: 147px;
}

@media only screen and (max-width: 1140px) {
  .slide__text_1 {
    font-size: 40px;
    margin-left: -44%;
  }
}

@media only screen and (max-width: 990px) {
  .slide__text_1 {
    top: 14px;
    font-size: 37px;
  }
}

@media only screen and (max-width: 736px) {
  .slide__text_1 {
    margin-left: -205px;
    top: 36px;
  }
}

@media only screen and (max-width: 470px) {
  .slide__text_1 {
    font-size: 30px;
    margin-left: -174px;
  }
}

@media only screen and (max-width: 420px) {
  .slide__text_1 {
    font-size: 26px;
    margin-left: -144px;
    top: 26px;
  }
}

.slide__text_2 {
  left: 50%;
  margin-left: -556px;
  top: 147px;
}

@media only screen and (max-width: 1140px) {
  .slide__text_2 {
    font-size: 40px;
    margin-left: -44%;
  }
}

@media only screen and (max-width: 990px) {
  .slide__text_2 {
    top: 70px;
    font-size: 37px;
  }
}

@media only screen and (max-width: 736px) {
  .slide__text_2 {
    margin-left: -205px;
    top: 36px;
  }
}

@media only screen and (max-width: 470px) {
  .slide__text_2 {
    font-size: 30px;
    margin-left: -174px;
  }
}

@media only screen and (max-width: 420px) {
  .slide__text_2 {
    font-size: 26px;
    margin-left: -144px;
    top: 26px;
  }
}

.maincat {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 1220px) {
  .maincat__head {
    padding-right: 25px;
    padding-left: 40px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 625px) {
  .maincat__head {
    padding-right: 28px;
    padding-left: 28px;
  }
}

.maincat__title {
  color: #3f3f3f;
  font-family: Roboto;
  font-size: 49px;
  font-weight: 300;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
}

@media only screen and (max-width: 625px) {
  .maincat__title {
    font-size: 44px;
  }
}

@media only screen and (max-width: 583px) {
  .maincat__title {
    font-size: 30px;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 365px) {
  .maincat__title {
    font-size: 26px;
  }
}

.maincat__input {
  display: inline-block;
  vertical-align: top;
  float: right;
  margin-top: 8px;
}

@media only screen and (max-width: 1000px) {
  .maincat__input {
    display: block;
    float: none;
  }
}

.maincat__input-element {
  width: 324px;
  line-height: 36px;
  border: 1px solid #c4c4c4;
  background-color: #f2f2f2;
  color: #6d6d6d;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  padding-left: 11px;
}

@media only screen and (max-width: 583px) {
  .maincat__input-element {
    width: 247px;
  }
}

@media only screen and (max-width: 365px) {
  .maincat__input-element {
    width: 216px;
  }
}

.maincat__input-button {
  background-image: url(../img/maincat/loop.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 42px;
  height: 40px;
  background-color: #4d67ac;
  display: inline-block;
  vertical-align: top;
  border: none;
}

.maincat__button {
  width: 500px;
  line-height: 61px;
  background-color: #076d9d;
  color: #ffffff;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  display: block;
  margin: 0 auto;
  margin-top: 70px;
  text-align: center;
  text-decoration: none;
}

.maincat__button:hover {
  background-color: #00557d;
}

@media only screen and (max-width: 583px) {
  .maincat__button {
    width: 90%;
  }
}

@media only screen and (max-width: 583px) {
  .maincat__button {
    font-size: 21px;
  }
}

.maincat-inner {
  width: 1200px;
  margin: 0 auto;
}

@media only screen and (max-width: 1220px) {
  .maincat-inner {
    width: 100%;
  }
}

@media only screen and (max-width: 1220px) {
  .maincat-items {
    text-align: center;
  }
}

.maincat-item {
  width: 275px;
  -webkit-box-shadow: 0 0 11px 2px rgba(181, 181, 181, 0.18);
  box-shadow: 0 0 11px 2px rgba(181, 181, 181, 0.18);
  border: 1px solid #c4c4c4;
  background-color: #ffffff;
  display: inline-block;
  vertical-align: top;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-left: 11px;
  margin-right: 11px;
  margin-top: 35px;
}

@media only screen and (max-width: 1220px) {
  .maincat-item {
    text-align: left;
    margin-left: 2%;
    margin-right: 2%;
  }
}

@media only screen and (max-width: 970px) {
  .maincat-item {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
}

@media only screen and (max-width: 880px) {
  .maincat-item {
    margin-left: 2%;
    margin-right: 2%;
  }
}

@media only screen and (max-width: 625px) {
  .maincat-item {
    margin-left: 0.2%;
    margin-right: 0.2%;
    margin-top: 7px;
  }
}

@media only screen and (max-width: 583px) {
  .maincat-item {
    width: 80%;
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media only screen and (max-width: 430px) {
  .maincat-item {
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #c4c4c4;
    margin-left: 0;
    margin-right: 0;
  }
}

.maincat-item__img {
  width: 240px;
}

@media only screen and (max-width: 583px) {
  .maincat-item__img {
    margin: 0 auto;
    display: block;
    width: 100%;
    margin-bottom: 35px;
    margin-top: 20px;
  }
}

.maincat-item__name {
  display: block;
  color: #3d3d3d;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  width: 240px;
  margin-top: 9px;
  text-decoration: none;
}

@media only screen and (max-width: 583px) {
  .maincat-item__name {
    width: 100%;
  }
}

.maincat-item__values {
  height: 132px;
}

.maincat-item__values-line {
  margin-top: 10px;
}

.maincat-item__values-element {
  color: #727070;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  vertical-align: top;
  width: 105px;
}

.maincat-item__values-element2 {
  color: #000000;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  vertical-align: top;
}

@media only screen and (max-width: 583px) {
  .maincat-item__values-element2 {
    float: right;
  }
}

.maincat-item__price {
  margin-top: 34px;
  margin-left: 6px;
}

.maincat-item__price-element {
  color: #3d3d3d;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  vertical-align: top;
}

.maincat-item__price-button {
  width: 126px;
  line-height: 30px;
  background-color: #ff0c00;
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  vertical-align: top;
  margin-left: 26px;
  padding-top: 2px;
  text-align: center;
  float: right;
}

.maincat-item__price-button:hover {
  cursor: pointer;
  background-color: #a10800;
}

.main-about {
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 50px;
  max-width: 1200px;
}

@media only screen and (max-width: 880px) {
  .main-about {
    padding: 0 20px;
  }
}

.main-about__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 17px;
  text-indent: 20px;
  color: #444;
  margin: 10px 0;
}

@media only screen and (max-width: 880px) {
  .main-about__text {
    text-align: justify;
    font-size: 15px;
  }
}

.main-about__list-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 22px;
  color: #444;
  margin-top: 26px;
}

@media only screen and (max-width: 880px) {
  .main-about__list-title {
    font-size: 19px;
  }
}

.main-about__list {
  margin-top: 5px;
  padding-left: 20px;
  margin-bottom: 25px;
}

.main-about__list-item {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 17px;
  color: #444;
  line-height: 25px;
}

@media only screen and (max-width: 880px) {
  .main-about__list-item {
    margin: 14px 0;
    font-size: 15px;
  }
}

.main-about__colorname {
  color: #07354a;
  font-weight: 700;
}

.catalog {
  background-color: #fff;
  width: 100%;
  height: 100%;
  min-height: 700px;
  padding-top: 30px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 1350px;
  margin: 0 auto;
}

.catalog__title {
  color: #434343;
  font-family: Roboto;
  font-size: 37px;
  font-weight: 400;
  padding: 0 40px;
}

@media only screen and (max-width: 990px) {
  .catalog__title {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 550px) {
  .catalog__title {
    padding: 0 20px;
    font-size: 26px;
  }
}

.catalog__table-wrap {
  padding-top: 0px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 1250px) {
  .catalog__table-wrap {
    padding-left: 0;
    padding-right: 0;
  }
}

.catalog__fixed-head {
  margin-top: 40px;
}

.catalog__fixed-head_fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: unset;
  margin-top: 0;
  z-index: 5;
  background-color: #405f7d;
}

.catalog__fixed-head-inner {
  max-width: 1350px;
  margin: 0 auto;
  background-color: #405f7d;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

@media only screen and (max-width: 1250px) {
  .catalog__fixed-head-inner {
    padding-left: 0;
    padding-right: 0;
  }
}

.catalog .dataTables_wrapper {
  position: relative;
}

.catalog .dataTables_filter {
  position: absolute;
  top: -51px;
  right: 15px;
}

@media only screen and (max-width: 990px) {
  .catalog .dataTables_filter {
    top: -44px;
  }
}

.catalog .dataTables_filter_fixed-head {
  position: fixed;
  top: 10px;
  right: 50px;
  z-index: 10;
}

@media only screen and (max-width: 1350px) {
  .catalog .dataTables_filter_fixed-head {
    right: 15px;
  }
}

.catalog .dataTables_filter input[type="search"] {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  color: #444;
  line-height: 31px;
  padding: 0;
  padding-left: 10px;
  border: 1px solid #cbcbcb;
  width: 217px;
}

.catalog .dataTables_empty {
  padding-top: 50px;
  padding-left: 19px;
  font-size: 24px;
  font-family: Roboto;
}

.catalog-desktop-header {
  height: 70px;
}

@media only screen and (max-width: 990px) {
  .catalog-desktop-header {
    display: none !important;
  }
}

.catalog-mobile-header {
  display: none;
  padding-left: 40px;
  height: 55px;
}

.catalog-mobile-header_fixed {
  padding-left: 68px;
}

@media only screen and (max-width: 990px) {
  .catalog-mobile-header {
    display: block;
  }
}

.catalog-mobile-sort {
  margin-top: 30px;
  display: none;
  padding-left: 20px;
}

@media only screen and (max-width: 990px) {
  .catalog-mobile-sort {
    display: inline-block;
  }
}

.catalog-mobile-sort__label {
  display: inline-block;
  vertical-align: top;
  font-family: "Roboto";
  font-weight: 400;
  color: #2e2e2e;
  font-size: 17px;
  line-height: 34px;
}

@media only screen and (max-width: 550px) {
  .catalog-mobile-sort__label {
    display: block;
    font-size: 16px;
  }
}

.catalog-mobile-sort__select-clm {
  display: inline-block;
  vertical-align: top;
  width: 147px;
  height: 34px;
  line-height: 34px;
  border: 1px solid #c4c4c4;
  background-color: #f2f2f2;
  color: #6d6d6d;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  padding-left: 11px;
  margin-left: 10px;
}

@media only screen and (max-width: 550px) {
  .catalog-mobile-sort__select-clm {
    height: 28px;
    line-height: 28px;
    font-size: 15px;
    margin-left: 0px;
  }
}

.catalog-mobile-sort__orderdir-clm {
  display: inline-block;
  vertical-align: top;
  width: 129px;
  height: 34px;
  line-height: 34px;
  border: 1px solid #c4c4c4;
  background-color: #f2f2f2;
  color: #6d6d6d;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  padding-left: 0px;
  margin-left: 0px;
}

@media only screen and (max-width: 550px) {
  .catalog-mobile-sort__orderdir-clm {
    height: 28px;
    line-height: 28px;
    font-size: 15px;
  }
}

.catalog-table {
  width: 100%;
  border-collapse: collapse;
}

@media only screen and (max-width: 990px) {
  .catalog-table {
    display: block;
  }
}

@media only screen and (max-width: 990px) {
  .catalog-table__thead {
    display: block;
  }
}

@media only screen and (max-width: 990px) {
  .catalog-table__tbody {
    display: block;
  }
}

.catalog-table__tr {
  background-color: #fff;
  height: 93px;
}

@media only screen and (max-width: 990px) {
  .catalog-table__tr {
    display: block;
    border: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
  }
}

.catalog-table__tr_head {
  background-color: #405f7d;
  height: 70px;
}

.catalog-table__tr_body {
  border-bottom: 1px solid #f8f8f8;
}

.catalog-table__tr_body:nth-child(2n+1) {
  background-color: #fbfaff;
}

@media only screen and (max-width: 990px) {
  .catalog-table__tr_body:nth-child(2n+1) {
    background-color: #fff;
  }
}

.catalog-table__th {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  padding: 6px;
  text-align: left;
  vertical-align: middle;
  background-position: 350px 28px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 990px) {
  .catalog-table__th {
    display: block;
  }
}

.catalog-table__th:hover {
  color: #ddd;
}

.catalog-table__td {
  text-align: center;
  color: #282828;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  padding-top: 29px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.catalog-table__td_name {
  border-bottom: none !important;
}

.catalog-table__td_color {
  text-align: center;
}

@media only screen and (max-width: 990px) {
  .catalog-table__td {
    display: block;
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 40%;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
  }
}

@media only screen and (max-width: 990px) {
  .catalog-table__td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 8px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    padding-left: 30px;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 550px) {
  .catalog-table__td:before {
    padding-left: 4px;
  }
}

@media only screen and (max-width: 990px) {
  .catalog-table__td:nth-of-type(1):before {
    content: "Наименование";
  }
}

@media only screen and (max-width: 990px) {
  .catalog-table__td:nth-of-type(3):before {
    content: "Led/м";
  }
}

@media only screen and (max-width: 990px) {
  .catalog-table__td:nth-of-type(4):before {
    content: "Защита";
  }
}

@media only screen and (max-width: 990px) {
  .catalog-table__td:nth-of-type(5):before {
    content: "Ватт/м";
  }
}

@media only screen and (max-width: 990px) {
  .catalog-table__td:nth-of-type(6):before {
    content: "Цвет";
  }
}

@media only screen and (max-width: 990px) {
  .catalog-table__td:nth-of-type(7):before {
    content: "Цена";
  }
}

@media only screen and (max-width: 990px) {
  .catalog-table__td:nth-of-type(8):before {
    content: "Наличие";
  }
}

@media only screen and (max-width: 990px) {
  .catalog-table__td-img {
    border-bottom: none;
    width: auto;
  }
}

.catalog-table .sorting-asc {
  background-image: url("/img/sort_asc.png");
  background-repeat: no-repeat;
}

.catalog-table .sorting-desc {
  background-image: url("/img/sort_desc.png");
  background-repeat: no-repeat;
}

.catalog-table__item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}

.catalog-table__item_title {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.catalog-table__item_name-size {
  width: 235px;
  background-position: 177px 1px;
}

@media only screen and (max-width: 1250px) {
  .catalog-table__item_name-size {
    width: 213px;
    background-position: 162px 1px;
  }
}

.catalog-table__item_name {
  font-size: 15px;
  text-align: left;
}

@media only screen and (max-width: 1250px) {
  .catalog-table__item_name {
    font-size: 14px;
  }
}

@media only screen and (max-width: 990px) {
  .catalog-table__item_name {
    padding-left: 0;
    font-size: 18px;
    width: auto;
    text-align: left;
  }
}

@media only screen and (max-width: 550px) {
  .catalog-table__item_name {
    font-size: 14px;
  }
}

.catalog-table__item_catalog-size {
  width: 84px;
  background-position: 62px 1px;
}

.catalog-table__item_catalog {
  display: inline-block;
  vertical-align: top;
  height: 25px;
  line-height: 23px;
  background-color: #318eec;
  text-align: center;
  color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  margin-top: 2px;
  border-radius: 2px;
}

@media only screen and (max-width: 990px) {
  .catalog-table__item_catalog {
    margin-top: 0px;
  }
}

.catalog-table__item_density-size {
  background-position: 54px 1px;
  width: 69px;
}

.catalog-table__item_density {
  margin-top: 8px;
}

@media only screen and (max-width: 990px) {
  .catalog-table__item_density {
    margin-top: 0px;
  }
}

.catalog-table__item_protection-size {
  background-position: 74px 1px;
  width: 92px;
}

.catalog-table__item_protection {
  margin-top: 8px;
}

@media only screen and (max-width: 990px) {
  .catalog-table__item_protection {
    margin-top: 0px;
  }
}

.catalog-table__item_power-size {
  background-position: 66px 1px;
  width: 81px;
}

.catalog-table__item_power {
  margin-top: 8px;
}

@media only screen and (max-width: 990px) {
  .catalog-table__item_power {
    margin-top: 0px;
    padding-left: 0;
  }
}

.catalog-table__item_color-size {
  background-position: 62px 1px;
  width: 85px;
}

.catalog-table__item_color {
  margin-top: 8px;
}

@media only screen and (max-width: 990px) {
  .catalog-table__item_color {
    margin-top: 0px;
  }
}

.catalog-table__item_price-size {
  background-position: 54px 1px;
  width: 69px;
}

.catalog-table__item_price {
  font-size: 15px;
  font-weight: 700;
  margin-top: 4px;
}

@media only screen and (max-width: 990px) {
  .catalog-table__item_price {
    margin-top: 0px;
  }
}

.catalog-table__item_stock-size {
  background-position: 62px 1px;
  width: 75px;
}

.catalog-table__item_stock {
  margin-top: 8px;
}

@media only screen and (max-width: 990px) {
  .catalog-table__item_stock {
    margin-top: 0px;
  }
}

.catalog-table__item_img-wrap-size {
  width: 140px;
}

@media only screen and (max-width: 1140px) {
  .catalog-table__item_img-wrap-size {
    width: 110px;
  }
}

.catalog-table__item_img-wrap {
  margin-top: -13px;
}

@media only screen and (max-width: 990px) {
  .catalog-table__item_img-wrap {
    margin-top: 0px;
  }
}

.catalog-table__item-img1-link {
  display: block;
  width: 134px;
  overflow: hidden;
  margin-bottom: 2px;
}

@media only screen and (max-width: 1140px) {
  .catalog-table__item-img1-link {
    width: 107px;
  }
}

@media only screen and (max-width: 990px) {
  .catalog-table__item-img1-link {
    width: 180px;
  }
}

.catalog-table__item-img1 {
  display: inline-block;
  vertical-align: top;
  max-width: none;
}

.catalog-table__item-img2-link {
  display: block;
  width: 134px;
  overflow: hidden;
}

@media only screen and (max-width: 1140px) {
  .catalog-table__item-img2-link {
    margin-left: 0;
    width: 107px;
  }
}

@media only screen and (max-width: 990px) {
  .catalog-table__item-img2-link {
    width: 180px;
  }
}

.catalog-table__item-img2 {
  display: inline-block;
  vertical-align: top;
  max-width: none;
}

@media only screen and (max-width: 1140px) {
  .catalog-table__item-img2 {
    margin-left: -37px;
  }
}

@media only screen and (max-width: 990px) {
  .catalog-table__item-img2 {
    margin-left: 0;
  }
}

.catalog-table__item_orderBtn-size {
  width: 97px;
  margin-right: 10px;
}

.catalog-table__item_orderBtn {
  display: inline-block;
  vertical-align: top;
  height: 31px;
  line-height: 30px;
  background-color: #f63438;
  text-align: left;
  color: #ffffff;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
  margin-top: 2px;
  background-image: url(../img/order-btn2.png);
  background-repeat: no-repeat;
  background-position: 82px 10px;
  border-radius: 2px;
  padding-left: 7px;
}

@media only screen and (max-width: 990px) {
  .catalog-table__item_orderBtn {
    margin-bottom: 20px;
    margin-left: 0;
  }
}

.contacts {
  min-height: 700px;
  padding-top: 50px;
  width: 970px;
  margin: 0 auto;
  /*
  &__info-line {
    padding-left: 64px;
    background-repeat:no-repeat;
    background-position: 0 0;
    color: #0e0e0e;
    font-family: Roboto;
    height: 33px;
    margin-bottom: 10px;
    text-align: left;

    @media only screen and (max-width : 420px) {
      padding-left: 44px;
    }

    &_address {
      font-size: 18px;
      font-weight: 400;
      background-image:url('/img/address.png');

      @media only screen and (max-width : 420px) {
       font-size: 14px;
      }
    }

    
    &_phone {
      font-size: 21px;
      font-weight: 400;
      background-image:url('/img/phone.png');

      @media only screen and (max-width : 420px) {
       font-size: 14px;
      }
    }

    
    &_mail {
      font-size: 18px;
      font-weight: 700;
      background-image:url('/img/mail.png');

      @media only screen and (max-width : 420px) {
       font-size: 14px;
      }
    }

    &_deliver {
      font-size: 18px;
      font-weight: 700;

      @media only screen and (max-width : 420px) {
       font-size: 14px;
      }
    }
  }
  */
}

@media only screen and (max-width: 1135px) {
  .contacts {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.contacts__info {
  display: inline-block;
  vertical-align: top;
  width: 431px;
  padding-top: 20px;
}

@media only screen and (max-width: 1135px) {
  .contacts__info {
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
  }
}

@media only screen and (max-width: 580px) {
  .contacts__info {
    width: 100%;
    padding-left: 69px;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 420px) {
  .contacts__info {
    padding-left: 56px;
  }
}

.contacts__info-block {
  margin-bottom: 30px;
}

.contacts__info-title {
  font-size: 19px;
  font-weight: 400;
  color: #0e0e0e;
  font-family: Roboto;
  margin-bottom: 24px;
  position: relative;
}

@media only screen and (max-width: 580px) {
  .contacts__info-title {
    font-size: 17px;
  }
}

.contacts__info-title_address {
  text-decoration: underline;
}

.contacts__info-title_time {
  margin-bottom: 10px;
}

.contacts__info-title:before {
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 0;
  left: -40px;
  width: 27px;
  height: 27px;
  content: "";
}

.contacts__info-title_address:before {
  background-image: url("/img/contacts/address.png");
}

.contacts__info-title_phone:before {
  background-image: url("/img/contacts/phone.png");
}

.contacts__info-title_mail:before {
  background-image: url("/img/contacts/mail.png");
}

.contacts__info-title_delivery:before {
  background-image: url("/img/contacts/delivery.png");
}

.contacts__info-title_time:before {
  background-image: url("/img/contacts/time.png");
}

.contacts__info-text {
  font-size: 17px;
  font-weight: 400;
  color: #0e0e0e;
  font-family: Roboto;
}

@media only screen and (max-width: 580px) {
  .contacts__info-text {
    font-size: 15px;
  }
}

.contacts__info-text_time {
  padding-left: 15px;
  font-style: italic;
}

.contacts__info-text_delivery-item {
  font-style: italic;
  margin: 9px 0;
  padding-left: 10px;
}

@media only screen and (max-width: 420px) {
  .contacts__info-text_delivery-item {
    padding-left: 0px;
  }
}

.contacts__info-mail-link {
  height: 23px;
  width: 140px;
  display: block;
  background-image: url("../img/contacts/email-img.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.contacts__info-phone-link {
  text-decoration: none;
  color: #0e0e0e;
}

.contacts__form {
  display: inline-block;
  vertical-align: top;
  width: 403px;
  height: 410px;
  background-color: #e6e6e6;
  float: right;
}

@media only screen and (max-width: 1135px) {
  .contacts__form {
    display: block;
    margin: 0 auto;
    float: none;
    width: 100%;
    height: 440px;
  }
}

.contacts__form-head {
  background-image: url(/img/contacts-form-bg.png);
  background-repeat: no-repeat;
  height: 52px;
  line-height: 52px;
  padding-left: 46px;
  color: #ff8b3e;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 700;
}

@media only screen and (max-width: 1135px) {
  .contacts__form-head {
    text-align: center;
    padding-left: 0;
  }
}

.contacts__form-inp {
  padding-left: 42px;
  padding-right: 54px;
  margin: 20px 0;
}

@media only screen and (max-width: 1135px) {
  .contacts__form-inp {
    width: 309px;
    margin: 20px auto;
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 580px) {
  .contacts__form-inp {
    width: 270px;
  }
}

.contacts__form-inp-label {
  color: #343434;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.contacts__form-inp-req {
  float: right;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 700;
  color: #d00;
  visibility: hidden;
  opacity: 0;
}

.contacts__form-inp-req_confirm {
  margin-top: 10px;
}

.contacts__form-inp-val {
  width: 307px;
  line-height: 30px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding-left: 10px;
  background-color: #FBFCFE;
  outline: none;
}

@media only screen and (max-width: 580px) {
  .contacts__form-inp-val {
    width: 260px;
  }
}

.contacts__form-sendBtn {
  display: inline-block;
  vertical-align: top;
  width: 103px;
  height: 31px;
  line-height: 31px;
  background-color: #ff8400;
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.contacts__form-confirmCehck-wrap {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

@media only screen and (max-width: 580px) {
  .contacts__form-confirmCehck-wrap {
    width: auto;
    display: block;
    margin-bottom: 20px;
  }
}

.contacts__form-confirmCehck {
  display: inline-block;
  vertical-align: top;
}

.contacts__form-confirmCehck-label {
  display: inline-block;
  vertical-align: top;
  width: 174px;
  color: #444;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
}

.contacts__form-success {
  display: none;
}

.contacts__form-success-text {
  font-family: Roboto;
  font-weight: 400;
  color: #444;
  font-size: 17px;
  text-align: center;
  padding: 0 30px;
  padding-top: 130px;
}

.contacts__form-fail {
  display: none;
}

.contacts__form-fail-text {
  font-family: Roboto;
  font-weight: 400;
  color: #444;
  font-size: 17px;
  text-align: center;
  padding: 0 30px;
  padding-top: 130px;
}

.contacts__form-sending {
  display: none;
  padding-top: 100px;
  text-align: center;
}

.contacts__form-sending-img {
  width: 80px;
}

.error .contacts__form-inp-val {
  background-color: #ffdcdc;
}

.error .contacts__form-inp-req {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.sending .contacts__form-sending {
  display: block;
}

.sending .contacts__form-inputs {
  display: none;
}

.success .contacts__form-success {
  display: block;
}

.success .contacts__form-inputs {
  display: none;
}

.fail .contacts__form-fail {
  display: block;
}

.fail .contacts__form-inputs {
  display: none;
}

.order-popup {
  position: absolute;
  left: 50%;
  margin-left: -229px;
  width: 460px;
  padding-bottom: 15px;
  -webkit-box-shadow: 0 0 7px 1px rgba(28, 28, 28, 0.35);
  box-shadow: 0 0 7px 1px rgba(28, 28, 28, 0.35);
  background-color: #ffffff;
  border-top: 12px solid #9b9b9b;
  z-index: 1002;
  display: none;
}

@media only screen and (max-width: 460px) {
  .order-popup {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
}

.order-popup_visible {
  display: block;
}

.order-popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.62);
  z-index: 1001;
  display: none;
}

.order-popup__bg_visible {
  display: block;
}

.order-popup__prod {
  padding: 0 20px;
  padding-top: 10px;
  margin-bottom: 30px;
}

.order-popup__prod-img-wr {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 175px;
  height: 80px;
  overflow: hidden;
  margin-right: 10px;
}

@media only screen and (max-width: 460px) {
  .order-popup__prod-img-wr {
    display: block;
    width: auto;
  }
}

.order-popup__prod-img {
  display: inline-block;
  vertical-align: top;
  margin-top: 26px;
}

.order-popup__prod-name {
  display: inline-block;
  vertical-align: top;
  width: 227px;
  margin-top: 20px;
  color: #343434;
  font-family: Roboto;
  font-size: 19px;
  font-weight: 400;
}

@media only screen and (max-width: 460px) {
  .order-popup__prod-name {
    display: block;
    width: auto;
    text-align: center;
  }
}

.order-popup__inp {
  padding-left: 70px;
  padding-right: 83px;
  margin: 20px 0;
}

.order-popup__inp_action {
  margin: 30px 0;
}

@media only screen and (max-width: 460px) {
  .order-popup__inp {
    margin: 20px auto;
    padding-left: 0;
    padding-right: 0;
    width: 270px;
  }
}

.order-popup__inp-label {
  color: #343434;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.order-popup__inp-req {
  float: right;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 700;
  color: #d00;
  visibility: hidden;
  opacity: 0;
}

.order-popup__inp-req_confirm {
  margin-top: 5px;
}

.order-popup__inp-val {
  width: 307px;
  line-height: 30px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding-left: 10px;
  background-color: #FBFCFE;
  outline: none;
}

@media only screen and (max-width: 460px) {
  .order-popup__inp-val {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.order-popup__sendBtn {
  display: inline-block;
  vertical-align: top;
  width: 102px;
  height: 31px;
  line-height: 31px;
  background-color: #ff8400;
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.order-popup__confirmCehck-wrap {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

@media only screen and (max-width: 460px) {
  .order-popup__confirmCehck-wrap {
    width: auto;
    display: block;
    margin-bottom: 20px;
  }
}

.order-popup__confirmCehck {
  display: inline-block;
  vertical-align: top;
}

.order-popup__confirmCehck-label {
  display: inline-block;
  vertical-align: top;
  width: 174px;
  color: #444;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
}

@media only screen and (max-width: 460px) {
  .order-popup__confirmCehck-label {
    margin-left: 10px;
  }
}

.order-popup__closeBtn {
  display: block;
  width: 127px;
  height: 31px;
  line-height: 31px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #00aeef;
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.order-popup__success {
  display: none;
}

.order-popup__success-text {
  font-family: Roboto;
  font-weight: 400;
  color: #444;
  font-size: 17px;
  text-align: center;
  padding: 80px 30px;
}

.order-popup__fail {
  display: none;
}

.order-popup__fail-text {
  font-family: Roboto;
  font-weight: 400;
  color: #444;
  font-size: 17px;
  text-align: center;
  padding: 80px 30px;
}

.order-popup__sending {
  display: none;
  padding: 100px 0;
  text-align: center;
}

.order-popup__sending-img {
  width: 80px;
}

.error .order-popup__inp-val {
  background-color: #ffdcdc;
}

.error .order-popup__inp-req {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.sending .order-popup__sending {
  display: block;
}

.sending .order-popup__inputs {
  display: none;
}

.success .order-popup__success {
  display: block;
}

.success .order-popup__inputs {
  display: none;
}

.fail .order-popup__fail {
  display: block;
}

.fail .order-popup__inputs {
  display: none;
}

.footer {
  background-image: url(../img/footer/BGI.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  height: 166px;
}

@media only screen and (max-width: 730px) {
  .footer {
    background-color: #292929;
    height: 240px;
  }
}

.footer__inner {
  width: 1200px;
  margin: 0 auto;
  padding-top: 42px;
  padding-left: 42px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 1220px) {
  .footer__inner {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media only screen and (max-width: 730px) {
  .footer__inner {
    padding-top: 20px;
    text-align: center;
  }
}

.footer__logo-img {
  display: inline-block;
  vertical-align: top;
}

@media only screen and (max-width: 890px) {
  .footer__logo-img {
    width: 200px;
    margin-top: 11px;
  }
}

@media only screen and (max-width: 890px) {
  .footer__logo-img {
    width: 260px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 430px) {
  .footer__logo-img {
    width: 210px;
  }
}

.footer__year {
  color: #ffffff;
  font-family: Copperplate;
  font-size: 18px;
  font-weight: 400;
  width: 100px;
  margin: 0 auto;
  padding-top: 21px;
}

@media only screen and (max-width: 890px) {
  .footer__year {
    font-size: 16px;
  }
}

@media only screen and (max-width: 430px) {
  .footer__year {
    font-size: 14px;
  }
}

.footer-info {
  display: inline-block;
  vertical-align: top;
  float: right;
  padding-right: 32px;
}

@media only screen and (max-width: 1220px) {
  .footer-info {
    float: right;
  }
}

@media only screen and (max-width: 730px) {
  .footer-info {
    display: block;
    vertical-align: top;
    float: none;
    padding-right: 0px;
    margin-top: 18px;
  }
}

.footer-info__text {
  color: #ffffff;
  font-family: Copperplate;
  font-size: 24px;
  font-weight: 400;
  display: inline-block;
  vertical-align: top;
  line-height: 47px;
  text-decoration: none;
}

@media only screen and (max-width: 890px) {
  .footer-info__text {
    font-size: 20px;
  }
}

@media only screen and (max-width: 430px) {
  .footer-info__text {
    font-size: 16px;
    line-height: 35px;
  }
}

.footer-info__text_marginleft {
  margin-left: 21px;
}

.footer-info__text2 {
  color: #ffffff;
  font-family: Copperplate;
  font-size: 21px;
  font-weight: 400;
}

@media only screen and (max-width: 890px) {
  .footer-info__text2 {
    font-size: 17px;
  }
}

@media only screen and (max-width: 430px) {
  .footer-info__text2 {
    font-size: 13px;
    line-height: 35px;
  }
}

.footer-info__mail-link {
  height: 47px;
  width: 213px;
  display: block;
  background-image: url("../img/footer-mail.png");
  background-repeat: no-repeat;
  background-position: 0 -3px;
}
