$catalog_size0: "only screen and (max-width : 1350px)";
$catalog_size1: "only screen and (max-width : 1250px)";
$catalog_size2: "only screen and (max-width : 1140px)";
$catalog_size3: "only screen and (max-width : 990px)"; //переход в мобильный вариант
$catalog_size4: "only screen and (max-width : 550px)";

.catalog {
  background-color: #fff;
  width: 100%;
  height: 100%;
  min-height: 700px;
  padding-top: 30px;
  box-sizing: content-box;
  max-width: 1350px;
  margin: 0 auto;

  &__title {
    color: #434343;
    font-family: Roboto;
    font-size: 37px;
    font-weight: 400;
    padding:0 40px; 

    @media #{$catalog_size3}{
      padding-left:20px;
    }   

    @media #{$catalog_size4}{
      padding:0 20px;
      font-size: 26px;
    }    
  }

  &__table-wrap {
    padding-top:0px;
    padding-bottom:50px;

    @media #{$catalog_size1}  {
      padding-left: 0;
      padding-right: 0;
    }

    @media #{$catalog_size3}{
    
    }
  }

  &__fixed-head {
    margin-top: 40px;

    &_fixed {
      position:fixed;
      top:0;
      left: 0;
      width: 100%;  
      max-width: unset;
      margin-top: 0;
      z-index: 5;
      background-color: #405f7d;
    }
  } 

  &__fixed-head-inner {
    
    max-width: 1350px;
    margin:0 auto;
    background-color: #405f7d;
    box-sizing: border-box; 
    position:relative;

    @media #{$catalog_size1}  {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .dataTables_wrapper {
    position:relative;
  }

  .dataTables_filter {
    position: absolute;
    top: -51px;
    right: 15px;

    @media #{$catalog_size3}{
      top:-44px;
    } 
    
    &_fixed-head {
      position: fixed;
      top: 10px;
      right: 50px;
      z-index: 10;

      @media #{$catalog_size0}{
        right: 15px;
      } 
    }

    

    input[type="search"] {
      font-family: Roboto;
      font-weight: 400;
      font-size: 16px;
      color: #444;
      line-height: 31px;
      padding: 0;
      padding-left: 10px;
      border: 1px solid #cbcbcb;
      width: 217px;

      // @media #{$catalog_size4}{
      //   width: 200px;
      // } 
    }    
  }

  .dataTables_empty {
    padding-top: 50px;
    padding-left: 19px;
    font-size: 24px;
    font-family: Roboto;
  }
  
}

.catalog-desktop-header {
  height: 70px;
  @media #{$catalog_size3}  {
    display: none !important;
  }
}

.catalog-mobile-header {
  display: none;    
  padding-left:40px;
  height: 55px;

  &_fixed {
    padding-left:68px;
  }

  @media #{$catalog_size3}  {
    display: block;
  }  

}

.catalog-mobile-sort {  
  margin-top: 30px;
  display: none;
  padding-left:20px;

  @media #{$catalog_size3}  {
    display: inline-block;
  }
  

  &__label {
    display: inline-block;
    vertical-align: top;
    font-family: "Roboto";
    font-weight: 400;
    color: #2e2e2e;
    font-size: 17px;
    line-height: 34px;

    @media #{$catalog_size4} {
      display: block;
      font-size: 16px;
    }
  }

  &__select-clm {
    display: inline-block;
    vertical-align: top;
    width: 147px;
    height: 34px;    
    line-height: 34px;
    border: 1px solid #c4c4c4;
    background-color: #f2f2f2;
    color: #6d6d6d;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    padding-left: 11px;
    margin-left: 10px;

    @media #{$catalog_size4} {
      height: 28px;
      line-height: 28px;
      font-size: 15px;
      margin-left: 0px;
    }
  }

  &__orderdir-clm {
    display: inline-block;
    vertical-align: top;
    width: 129px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #c4c4c4;
    background-color: #f2f2f2;
    color: #6d6d6d;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    padding-left: 0px;
    margin-left: 0px;

    @media #{$catalog_size4} {
      height: 28px;
      line-height: 28px;
      font-size: 15px;
    }
  }
}


.catalog-table {
  width: 100%; 
  border-collapse: collapse; 

  @media #{$catalog_size3} {
  display: block;
  }

  &__thead {
    @media #{$catalog_size3} {
      display: block;      
    }
  }

  &__tbody {
    @media #{$catalog_size3} {
      display: block;
    }
  }

  &__tr {
    background-color: #fff;
    height: 93px;

    @media #{$catalog_size3} {
      display: block;
      border: 1px solid #ccc;
      height: auto;
      padding-top:8px
    }
  }

  &__tr_head {
    background-color: #405f7d;
    height: 70px;    
  }

  &__tr_body {
    border-bottom:1px solid #f8f8f8;

    &:nth-child(2n+1) {
      background-color:#fbfaff;
      @media #{$catalog_size3} {
        background-color:#fff;
      }
    }
  }

  &__th {
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    outline: none;
    cursor: pointer;  
    padding: 6px; 
    text-align: left;
    vertical-align: middle;
    background-position: 350px 28px;
    box-sizing:border-box;

    @media #{$catalog_size3} {
      display: block;
    }
  }

  &__th:hover {
    color: #ddd;
  }  

  &__td {
    text-align: center; 
    color: #282828;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    padding-top: 29px;
    box-sizing:border-box;
    
    &_name {
      border-bottom:none !important;
    }

    &_color {
      text-align: center;
    } 


    @media #{$catalog_size3} {
      display: block;
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 40%; 
      padding-top: 8px;
      padding-bottom: 8px;
      text-align: left;  


    }

    &:before {
      @media #{$catalog_size3} {
         /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 8px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        padding-left: 30px;
        white-space: nowrap;  
      }

      @media #{$catalog_size4}  {
        padding-left: 4px;
      }
    }

    &:nth-of-type(1):before { 
      @media #{$catalog_size3} {
        content: "Наименование";
      }
    }

    &:nth-of-type(3):before { 
      @media #{$catalog_size3} {
        content: "Led/м";
      }
    }

    &:nth-of-type(4):before { 
      @media #{$catalog_size3} {
        content: "Защита";
      }
    }

    &:nth-of-type(5):before { 
      @media #{$catalog_size3} {
        content: "Ватт/м";
      }
    }

    &:nth-of-type(6):before { 
      @media #{$catalog_size3} {
        content: "Цвет";
      }
    }

    &:nth-of-type(7):before { 
      @media #{$catalog_size3} {
        content: "Цена";
      }
    }

    &:nth-of-type(8):before { 
      @media #{$catalog_size3} {
        content: "Наличие";
      }
    }
  } 

  &__td-img {
    @media #{$catalog_size3}  {
      border-bottom:none;
      width: auto;
    }
  } 

  .sorting-asc {
    background-image: url('/img/sort_asc.png');    
    background-repeat:no-repeat;
  }  

  .sorting-desc {
    background-image: url('/img/sort_desc.png');    
    background-repeat:no-repeat;
  }

  &__item {
    box-sizing:border-box;
    display: inline-block;
  }

  &__item_title {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
  }

  &__item_name-size { 
    width: 235px;
    background-position:177px 1px;
    @media #{$catalog_size1}  {
      width: 213px;
      background-position:162px 1px;
    }
  }

  &__item_name { 
    font-size: 15px;        
    text-align: left;  

    @media #{$catalog_size1}  {
      font-size: 14px;
    }

    @media #{$catalog_size3}  {
      padding-left:0;
      font-size: 18px;
      width: auto;
      text-align: left;
    }

    @media #{$catalog_size4}  {
      font-size: 14px;
    }
  }

  &__item_catalog-size {
      width: 84px;
      background-position:62px 1px;
  }

  &__item_catalog {
    display: inline-block;
    vertical-align: top;
    
    height: 25px;
    line-height: 23px;
    background-color: #318eec;
    text-align: center;
    color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    margin-top: 2px;
    border-radius: 2px;

    @media #{$catalog_size3}  {
      margin-top: 0px;
    }
  }
  
  &__item_density-size {
    background-position: 54px 1px;
    width: 69px;
  }

  &__item_density {     
    margin-top: 8px;   

    @media #{$catalog_size3}  {
      margin-top: 0px;
    }   
  }
  
  &__item_protection-size {
    background-position: 74px 1px;
    width: 92px;
  }

  &__item_protection {
    margin-top: 8px; 

    @media #{$catalog_size3}  {
      margin-top: 0px;
    }     
  }
  
  &__item_power-size {  
    background-position: 66px 1px;
    width: 81px;
  }

  &__item_power {   
    margin-top: 8px; 

    @media #{$catalog_size3}  {
      margin-top: 0px;
      padding-left:0;
    }     
  }
  
  &__item_color-size {
    background-position:62px 1px;
    width: 85px;
  }

  &__item_color {
    margin-top: 8px;

    @media #{$catalog_size3}  {
      margin-top: 0px;
    }
  }
  
  &__item_price-size {
    background-position: 54px 1px;
    width: 69px;
  }

  &__item_price {
    font-size: 15px;
    font-weight: 700;
    margin-top: 4px;

    @media #{$catalog_size3}  {
      margin-top: 0px;
    }
  }
  
  &__item_stock-size {
    background-position:62px 1px;
    width: 75px;
  }

  &__item_stock {
    margin-top: 8px;

    @media #{$catalog_size3}  {
      margin-top: 0px;
    }
  }
  
  &__item_img-wrap-size {
    width: 140px;
    @media #{$catalog_size2}  {
      width: 110px;
    }
  }

  &__item_img-wrap {
    margin-top: -13px; 

    @media #{$catalog_size3}  {
      margin-top: 0px; 
    }   
  }

  &__item-img1-link {
    display: block;
    width: 134px;
    overflow: hidden;
    margin-bottom: 2px;

    @media #{$catalog_size2}  {
      width: 107px;
    }

    @media #{$catalog_size3}  {
      width: 180px;
    }
  }


  &__item-img1 {
    display: inline-block;
    vertical-align: top;  
    max-width:none;    
  }

  &__item-img2-link {
    display: block;
    width: 134px;
    overflow: hidden;

    @media #{$catalog_size2}  {
      margin-left: 0;
      width: 107px;        
    }

    @media #{$catalog_size3}  {
      width: 180px;
    }
  }

  &__item-img2 {
    display: inline-block;
    vertical-align: top;
    max-width: none;

    @media #{$catalog_size2}  {
      margin-left: -37px;
    }

    @media #{$catalog_size3}  {
      margin-left: 0;
    }
  }
  
  &__item_orderBtn-size {
    width: 97px;
    margin-right: 10px;
  }

  &__item_orderBtn {
    display: inline-block;
    vertical-align: top;
    height: 31px;
    line-height: 30px;
    background-color: #f63438;
    text-align: left;
    color: #ffffff;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
    margin-top: 2px;
    background-image: url(../img/order-btn2.png);
    background-repeat: no-repeat;
    background-position: 82px 10px;
    border-radius: 2px;
    padding-left: 7px;

    @media #{$catalog_size3}  {
      margin-bottom: 20px;
      margin-left: 0;
    }
  }
}


      
