$contacts_size1: "only screen and (max-width : 1135px)";
$contacts_size2: "only screen and (max-width : 580px)";
$contacts_size3: "only screen and (max-width : 420px)";

.contacts {
  min-height:700px;
  padding-top:50px;
  width:970px;
  margin:0 auto;

  @media #{$contacts_size1} {
    width: 100%;    
    padding-left:0;
    padding-right:0;
    padding-top: 50px;
    box-sizing: border-box;  
  }

  @media #{$contacts_size2} {
    
  }


  &__info {
    display: inline-block;
    vertical-align: top;
    width: 431px;
    padding-top:20px;

    @media #{$contacts_size1} {
      display: block;
      margin: 0 auto;
      margin-bottom: 80px;
    }

    @media #{$contacts_size2} {
      width: 100%;
      padding-left: 69px;
      padding-right: 10px;
      box-sizing: border-box;
    }

    @media #{$contacts_size3} {
      padding-left:56px;
    }
  }

  &__info-block {
    margin-bottom: 30px;
  }

  &__info-title {
    font-size: 19px;
    font-weight: 400;
    color: #0e0e0e;
    font-family: Roboto;
    margin-bottom: 24px;   
    position:relative;

    @media #{$contacts_size2} {
      font-size: 17px;
    }

    &_address {
      text-decoration: underline;
    } 

    &_time {
      margin-bottom: 10px;
    }
    
    &:before {
      position:absolute;
      background-repeat:no-repeat;
      background-position: 0 0;
      top:0;
      left: -40px;
      width: 27px;
      height: 27px;
      content: "";
    }


    &_address:before {    
      background-image:url('/img/contacts/address.png');
    }

    &_phone:before {
      background-image:url('/img/contacts/phone.png');
    }

    &_mail:before {
      background-image:url('/img/contacts/mail.png');
    }

    &_delivery:before {
      background-image:url('/img/contacts/delivery.png');
    }

    &_time:before {
      background-image:url('/img/contacts/time.png');
    }
  }

  &__info-text {
    font-size: 17px;
    font-weight: 400;
    color: #0e0e0e;
    font-family: Roboto;

    @media #{$contacts_size2} {
      font-size: 15px;
    }

    &_time {
      padding-left:15px;
      font-style: italic;
    }

    &_delivery {

    }

    &_delivery-item {
      font-style: italic;
      margin: 9px 0;
      padding-left: 10px;

      @media #{$contacts_size3} {
        padding-left:0px;
      }
    }
  }

  &__info-mail-link {
    height: 23px;
    width: 140px;
    display: block;
    background-image:url('../img/contacts/email-img.png');
    background-repeat:no-repeat;
    background-position:0 0;
  }

  &__info-phone-link {
    text-decoration: none;
    color:  #0e0e0e;
  }

  
  /*
  &__info-line {
    padding-left: 64px;
    background-repeat:no-repeat;
    background-position: 0 0;
    color: #0e0e0e;
    font-family: Roboto;
    height: 33px;
    margin-bottom: 10px;
    text-align: left;

    @media #{$contacts_size3} {
      padding-left: 44px;
    }

    &_address {
      font-size: 18px;
      font-weight: 400;
      background-image:url('/img/address.png');

      @media #{$contacts_size3} {
       font-size: 14px;
      }
    }

    
    &_phone {
      font-size: 21px;
      font-weight: 400;
      background-image:url('/img/phone.png');

      @media #{$contacts_size3} {
       font-size: 14px;
      }
    }

    
    &_mail {
      font-size: 18px;
      font-weight: 700;
      background-image:url('/img/mail.png');

      @media #{$contacts_size3} {
       font-size: 14px;
      }
    }

    &_deliver {
      font-size: 18px;
      font-weight: 700;

      @media #{$contacts_size3} {
       font-size: 14px;
      }
    }
  }
  */
  
  &__form {
    display: inline-block;
    vertical-align: top;
    width: 403px;
    height: 410px;
    background-color: #e6e6e6;
    float: right;

    @media #{$contacts_size1} {
      display: block;
      margin: 0 auto;
      float: none;
      width: 100%;
      height: 440px;
    }
  }

  
  &__form-head {
    background-image: url(/img/contacts-form-bg.png);
    background-repeat: no-repeat;
    height: 52px;
    line-height: 52px;
    padding-left: 46px;
    color: #ff8b3e;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
    

    @media #{$contacts_size1} {
      text-align: center;
      padding-left:0;
    }
  }
  
  &__form-inputs {

  }
  
  &__form-inp {
    padding-left: 42px;
    padding-right: 54px;
    margin: 20px 0;

    @media #{$contacts_size1} {
      width: 309px;
      margin: 20px auto;
      padding-left:0;
      padding-right:0;
    }

    @media #{$contacts_size2} {
      width: 270px;
    }
  }

  &__form-inp-label {
    color: #343434;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  &__form-inp-req {
    float: right;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 700;
    color: #d00;
    visibility: hidden;
    opacity: 0;

    &_confirm {
      margin-top: 10px;
    }
  }

  &__form-inp-val {
    width: 307px;
    line-height: 30px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding-left: 10px;
    background-color: #FBFCFE;
    outline: none;

    @media #{$contacts_size2} {
      width: 260px;
    }


  }

  &__form-sendBtn {
    display: inline-block;
    vertical-align: top;
    width: 103px;
    height: 31px;
    line-height: 31px;
    background-color: #ff8400;
    text-align: center;
    color: #ffffff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
  }

  &__form-confirmCehck-wrap {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    
    @media #{$contacts_size2} {
      width: auto;
      display: block;
      margin-bottom: 20px;
    }
  }

  &__form-confirmCehck {
    display: inline-block;
    vertical-align: top;
  }

  &__form-confirmCehck-label {
    display: inline-block;
    vertical-align: top;
    width: 174px;
    color: #444;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;

    
  }

  &__form-confirmCehck-link {
    
  }

  &__form-success {
    display: none;
  }

  &__form-success-text {
    font-family: Roboto;
    font-weight: 400;
    color: #444;
    font-size: 17px;
    text-align: center;
    padding:0 30px;
    padding-top:130px;
  }

  &__form-fail {
    display: none;
  }

  &__form-fail-text {
    font-family: Roboto;
    font-weight: 400;
    color: #444;
    font-size: 17px;
    text-align: center;
    padding:0 30px;
    padding-top:130px;
  }

  &__form-sending {
    display: none;
    padding-top:100px;
    text-align: center;
  }

  &__form-sending-img {
    width: 80px;
  }

}

.error {
  .contacts {
    &__form-inp-val {
      background-color: #ffdcdc;
      //transition: background-color 0.1s linear;
    }

    &__form-inp-req {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.5s linear;
    }
  }
}

.sending {
  .contacts {
    &__form-sending {
      display: block;
    }

    &__form-inputs {
      display: none;
    }
  }
}

.success {
  .contacts {
    &__form-success {
      display: block;
    }

    &__form-inputs {
      display: none;
    }
  }
}

.fail {
  .contacts {
    &__form-fail {
      display: block;
    }

    &__form-inputs  {
      display: none;
    }
  }
}