$footer_size1: "only screen and (max-width : 1220px)";
$footer_size2: "only screen and (max-width : 890px)";
$footer_size3: "only screen and (max-width : 730px)";
$footer_size4: "only screen and (max-width : 430px)";


.footer{
	background-image: url(../img/footer/BGI.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	height: 166px;

	@media #{$footer_size3} {
    	background-color: #292929;
    	height: 240px;
	}
	    

	&__inner{
		width:1200px;
		margin: 0 auto;
		padding-top: 42px;
	    padding-left: 42px;
	    box-sizing: border-box;

	    @media #{$footer_size1} {
	    	width: 100%;
	    	padding-right: 20px;
	    	padding-left: 20px;
	    }

	    @media #{$footer_size3} {
	    	padding-top: 20px;
		    text-align: center;
		}
	        
	}


	&__logo{

	}

	&__logo-img{
		display: inline-block;
		vertical-align: top;

		@media #{$footer_size2} {
    	    width: 200px;
		    margin-top: 11px;
	    }
	    @media #{$footer_size2} {
    	    width: 260px;
		    margin-top: 0px;
	    }
	    @media #{$footer_size4} {
    	    width: 210px;
		}

	}

	&__year{
		color: #ffffff;
		font-family: Copperplate;
		font-size: 18px;
		font-weight: 400;
	    width: 100px;
	    margin: 0 auto;
        padding-top: 21px;

        @media #{$footer_size2} {
	    	font-size: 16px;
	    }
	    @media #{$footer_size4} {
    	    font-size: 14px;
		}
	}

}

.footer-info{
	display: inline-block;
	vertical-align: top;
	float: right;
    padding-right: 32px;

	    @media #{$footer_size1} {
	    	float: right;
	    }
	    @media #{$footer_size3} {
	    	display: block;
	    	vertical-align: top;
	    	float: none;
    	    padding-right: 0px;
		    margin-top: 18px;
	    }



	&__text{
		color: #ffffff;
		font-family: Copperplate;
		font-size: 24px;
		font-weight: 400;
		display: inline-block;
		vertical-align: top;
	    line-height: 47px;
	    text-decoration: none;

	    @media #{$footer_size2} {
	    	font-size: 20px;
	    }
	    @media #{$footer_size4} {
    	    font-size: 16px;
    	    line-height: 35px;
		}
	}

	&__text_marginleft{
	    margin-left: 21px;
	}

	&__text2{
		color: #ffffff;
		font-family: Copperplate;
		font-size: 21px;
		font-weight: 400;

		@media #{$footer_size2} {
	    	font-size: 17px;
	    }
	    @media #{$footer_size4} {
    	    font-size: 13px;
    	    line-height: 35px;
		}
	}

	&__mail-link {
		height: 47px;
	    width: 213px;
	    display: block;
	    background-image:url('../img/footer-mail.png');
	    background-repeat:no-repeat;
	    background-position:0 -3px;
	}

}
