$header_size1: "only screen and (max-width : 1230px)";
$header_size2: "only screen and (max-width : 1130px)";
$header_size4: "only screen and (max-width : 1040px)";
$header_size10: "only screen and (max-width : 940px)";
$header_size11: "only screen and (max-width : 580px)";



.header {
  background-image: url(../img/header/BGI.png);
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  height: 153px;
  border-bottom: 5px solid #555;
  overflow: hidden;

  @media #{$header_size4} {
    height: 108px;
    }
  @media #{$header_size10} {
    height: 120px;
  } 
  @media #{$header_size11} {
    height: 194px;
  }
      

  &__inner{
    margin: 0 auto;
    max-width: 1300px;
    padding-left:20px;
    padding-right:30px;

    @media #{$header_size1} {
      width: 100%;
      max-width: unset;
      padding-left: 7px;
      padding-right: 7px;
    }
    @media #{$header_size11} {
      text-align: center;
    }
  }

  &__logo {
    display: inline-block;
    vertical-align: top;
  }

  &__logo-img{
    display: inline-block;
    vertical-align: top;
    display: inline-block;
    vertical-align: top;
    margin-top: 40px;
    margin-left: -5px;
    margin-right: 31px;

    @media #{$header_size1} {
      width: 270px;
      margin-top: 47px;
    }
    @media #{$header_size4} {
        width: 220px;
        margin-left: 5px;
          margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }

    @media #{$header_size10} {
       width: 230px;
       margin-left: 64px;
    }
    @media #{$header_size11} {
       margin-left: 0px;
    }
  }
}


.header-menu{
  display: inline-block;
  vertical-align: top;
    margin-top: 80px;

  @media #{$header_size1} {
    margin-top: 73px;
    margin-left: 50px;
  }

  @media #{$header_size2} {
      margin-left: 0px;
  }
  @media #{$header_size4} {
        margin-top: 47px;
        margin-left: 20px;
  }
  @media #{$header_size10} {
    display: none;
  }
  

  &__item{
    color: #3f3f3f;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    margin-left: 13px;
    margin-right: 13px;
    text-decoration: none;
    padding-bottom:1px;

    &_active, &:hover {
      border-bottom:1px solid #3f3f3f;
    }

    @media #{$header_size1} {
      font-size: 17px;
    }
  }
}

.header-contacts{
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-top: 47px;
  float: right;

  @media #{$header_size1} {
    margin-top: 55px;
    padding-right:25px;
  }
  @media #{$header_size4} {
    margin-top: 25px;
    margin-right: 0px;
  }
  @media #{$header_size10} {
    margin-top: 24px;
  }
  @media #{$header_size11} {
    margin-left: 0px;
    float: none;
    //display: block;
    margin: 0 auto;
    margin-top: 24px;
    width: 306px;
    text-align: left;
    padding-left: 56px;
    padding-right: 0;
  }


  &__img{ 
    position: absolute;
      top: -7px;
      left: -55px;
      
      @media #{$header_size1} {
        width: 33px;
    }
    @media #{$header_size4} {
      left: -38px;
      top: -5px;
      width: 30px;
    }
    @media #{$header_size10} {
      display: none
    }
  }

  &__text1{
    color: #3f3f3f;
    font-family: Copperplate;
    font-size: 22px;
    font-weight: 400;

    @media #{$header_size1} {
        font-size: 19px;
    }
    @media #{$header_size4} {
        font-size: 16px;
    }
    
    @media #{$header_size10} {
        font-size: 17px;
    }
    

  }

  &__text2{ 
    color: #3f3f3f;
    font-family: Copperplate;
    font-size: 16px;
    font-weight: 400;
      margin-top: 4px;

      @media #{$header_size1} {
        font-size: 14px;
    }
    @media #{$header_size4} {
        font-size: 12px;
    }
  
    @media #{$header_size10} {
        font-size: 13px;
    }
    
  }
}


 


