$mobilemenu_size1: "only screen and (max-width : 940px)";

.mobile-menu-btn {
  display: none;
  position: fixed;
  width: 45px;
  height: 45px;
  top: 10px;
  left: 6px;
  background-image: url(/img/mobile-menu2.png);
  background-repeat: no-repeat;
  background-position: -2px -2px;
  z-index: 1004;
  border: 2px solid #3e3e3e;
  border-radius: 12px;

  @media #{$mobilemenu_size1} {
    display:block;
  } 
    
  &_open {
    display: none;
  }  
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: -240px;
  width: 240px;
  height: 100%;
  background-color: rgba(27, 27, 27, 0.9);
  z-index: 1004;
  border-left: 3px solid #608190;
  box-sizing: border-box;
  
  
  &_visible {
    left: 0;
    //transition: left 0.2s linear;
  }

  &__list {
    padding-top: 40px;
  }

  &__list-item {
      margin: 21px 0;
  }

  &__list-item-link {
    font-family: Roboto;
    font-size: 17px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:30px;
  }

  &__sublist {
    margin: 20px 0;
  }

  &__sublist-item {
    margin: 18px 0;
  }

  &__sublist-item-link {
    font-family: Roboto;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:40px;
  }
}