$orderpop_size1: "only screen and (max-width : 460px)";

.order-popup {  
  position: absolute;
  left: 50%;
  margin-left: -229px;
  width: 460px;
  padding-bottom: 15px;
  box-shadow: 0 0 7px 1px rgba(28, 28, 28, 0.35);
  background-color: #ffffff;
  border-top: 12px solid #9b9b9b;
  z-index: 1002;
  display: none;

  @media #{$orderpop_size1} {
    width: 100%;
    left: 0;
    margin-left: 0;
  }

  &_visible {
    display: block;
  }

  &__bg {
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.62);
    z-index: 1001;
    display: none;

    &_visible {
      display: block;
    } 
  }

  

  &__prod {
    padding:0 20px;
    padding-top: 10px;
    margin-bottom: 30px;
  }

  &__prod-img-wr {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 175px;
    height: 80px;
    overflow: hidden;
    margin-right: 10px;

    @media #{$orderpop_size1} {
      display: block;
      width: auto;
    }
  }

  &__prod-img {
    display: inline-block;
    vertical-align: top;
    margin-top: 26px;
  }

  &__prod-name {
    display: inline-block;
    vertical-align: top;
    width: 227px;
    margin-top: 20px;
    color: #343434;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 400;

    @media #{$orderpop_size1} {
      display: block;
      width: auto;
      text-align: center;
    }
  }

  &__inp {
    padding-left:70px;
    padding-right: 83px;
    margin:20px 0;    

    &_action {
      margin:30px 0;
    }

    @media #{$orderpop_size1} {
      margin: 20px auto;
      padding-left: 0;
      padding-right: 0;
      width: 270px;
    }
  }

  &__inp-label {
    color: #343434;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  &__inp-req {
    float: right;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 700;
    color: #d00;
    visibility: hidden;
    opacity: 0;

    &_confirm {
      margin-top: 5px;
    }
  }

  &__inp-val {
    width: 307px;
    line-height: 30px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding-left: 10px;
    background-color: #FBFCFE;
    outline: none;

    @media #{$orderpop_size1} {
      width: 100%;
      box-sizing: border-box;
    }
  }

  &__sendBtn {
    display: inline-block;
    vertical-align: top;
    width: 102px;
    height: 31px;
    line-height: 31px;
    background-color: #ff8400;
    text-align: center;
    color: #ffffff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
  }

  &__confirmCehck-wrap {
    display: inline-block;
    vertical-align: top;
    width: 200px;

    @media #{$orderpop_size1} {
      width: auto;
      display: block;
      margin-bottom: 20px;
    }
  }

  &__confirmCehck {
    display: inline-block;
    vertical-align: top;
  }

  &__confirmCehck-label {
    display: inline-block;
    vertical-align: top;
    width: 174px;
    color: #444;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;

    @media #{$orderpop_size1} {
      margin-left: 10px;
    }
  }

  &__confirmCehck-link {
    
  }


  &__closeBtn {
    display: block;
    width: 127px;
    height: 31px;
    line-height: 31px;
    margin:0 auto;
    margin-bottom: 30px;
    background-color: #00aeef;
    text-align: center;
    color: #ffffff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
  }

  &__success {
    display: none;
  }

  &__success-text {
    font-family: Roboto;
    font-weight: 400;
    color: #444;
    font-size: 17px;
    text-align: center;
    padding:80px 30px;
  }

  &__fail {
    display: none;
  }

  &__fail-text {
    font-family: Roboto;
    font-weight: 400;
    color: #444;
    font-size: 17px;
    text-align: center;
    padding:80px 30px;
  }

  &__sending {
    display: none;
    padding:100px 0;
    text-align: center;
  }

  &__sending-img {
    width: 80px;
  }
}

.error {
  .order-popup {
    &__inp-val {
      background-color: #ffdcdc;
      //transition: background-color 0.1s linear;
    }

    &__inp-req {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.5s linear;
    }
  }
}

.sending {
  .order-popup {
    &__sending {
      display: block;
    }

    &__inputs {
      display: none;
    }
  }
}

.success {
  .order-popup {
    &__success {
      display: block;
    }

    &__inputs {
      display: none;
    }
  }
}

.fail {
  .order-popup {
    &__fail {
      display: block;
    }

    &__inputs  {
      display: none;
    }
  }
}